/*
| Charts
*/

.c3 {
    svg {
        font-size: 15px;
    }
}

.c3-chart-arc {
    path {
        stroke: #fff;
    }

    text {
        fill: #fff;
        font-size: 16px;
    }
}

.c3-chart-arcs-title {
    font-size: 1.3em;
}

.c3-tooltip {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    opacity: 0.95;
    filter: alpha(opacity=95);

    td {
        font-size: 15px;
        padding: 6px 10px;
        background-color: #fff;
        border: 1px solid #ddd;

        & > span {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 6px;
        }

        &.value {
            text-align: right;
        }
    }
}
