/*
| ------------------------------------------------------------
| Bengali
| ------------------------------------------------------------
|
| Styles specific to Bengali Locale only. The style sheet is
| common for both front end and admin end.
|
| Get the compiled file under:
| public/css/bengali.css
| ------------------------------------------------------------
*/
@font-face {
    font-family: "Siyam Rupali";
    src: url("../fonts/SiyamRupali.eot?version=1.070");
    src: local("Siyam Rupali"), url("../fonts/SiyamRupali.woff?version=1.070") format("woff"),
        url("../fonts/SiyamRupali.ttf?version=1.070") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Siyam Rupali ANSI';
    src: url('../fonts/SiyamRupaliANSI.ttf') format('truetype');
    unicode-range: U+30-39;
}

body {
    font-family: "Siyam Rupali", "Solaimanlipi", Vrinda, sans-serif;
    line-height: 1.8;
    font-size: 0.9rem;
}

ol {
    list-style-type: -moz-bengali;
    list-style-type: bengali;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}

h2,
.h2 {
    font-size: 32px;
}

h3,
.h3 {
    font-size: 27px;
}

.site-title {
    font-size: 21px;
}

.site-subtitle {
    margin-top: 7px !important;
}
